body{
    background-color: #E9ECEF;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.card-footer{
width: fit-content;
height: fit-content;
}
.card{
    margin-top: 10px;
}
.about p{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}